<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NewEmployee</title>
  </head>
  <body>
    <button><a href="/employees">Back</a></button>

    <h1>You are adding a new employee</h1>

    <form action="/insertEmp" method="post">
      <div>
        <label for="">Name</label>
        <input type="text" name="name" placeholder="Please add Name" />
      </div>
      <div>
        <label for="">Position</label>
        <input type="text" name="position" placeholder="Please add Position" />
      </div>
      <div>
        <label for="">$ Salary</label>
        <input type="number" name="salary" placeholder="Please add Salary" />
      </div>

      <button>submit</button>
    </form>
  </body>
</html>
